<ul *ngIf="users"> <!-- Angular if, if items (object in home.component.ts) render this. -->
    <li *ngFor="let user of users"> <!-- Angular for -->
      {{user.UserName}}
      {{user.UserAge}}
      {{user.UserEmail}}
      {{user.ID}}
      <form  action="" [ngFormOptions]="{ updateOn: 'submit' }" #myForm="ngForm" method="POST" accept-charset="utf-8">
          <button class="btn" type="submit" (click)="onSubmit(user.ID)">delete </button>
      </form>
   </li>
</ul>
<h2> Create User </h2>
    <app-create-product (created)="refresh($event)"></app-create-product>
<p>
  crud works!
</p>
