<ul *ngIf="items"> <!-- Angular if, if items (object in home.component.ts) render this. -->
    <li *ngFor="let item of items"> <!-- Angular for -->
      {{item.Code}}
      {{item.Price}}
      {{item.ProductID}}
      <form  action="" [ngFormOptions]="{ updateOn: 'submit' }" #myForm="ngForm" method="POST" accept-charset="utf-8">
          <button class="btn" type="submit" (click)="onSubmit(item.ProductID)">delete </button>
      </form>
   </li>
</ul>
<h2> Create Product </h2>
    <app-create-product (created)="refresh($event)"></app-create-product>
<p>
  crud works!
</p>
