<div class="container">
<mat-card class="card" style="padding: 0px;">
    <mat-card-content>
<div class="form">
        <mat-card-header class=" header mat-toolbar mat-primary"> Login </mat-card-header>

        <!-- email -->
        <mat-form-field id="email">
            <input name="email" matInput #input placeholder="Email">
        <mat-hint align="end">example@email.com </mat-hint>
      </mat-form-field>

        <!-- password -->
        <mat-form-field id="pass" >
            <input type="password" name="pass" matInput #input placeholder="password">
      </mat-form-field>

        <button class="btn" mat-flat-button type="submit">Login</button>

        <button class="btn" mat-flat-button type="submit">Registrar</button>

</div>
    </mat-card-content>
</mat-card >
</div>

