<div>
    <form action="" method="POST" accept-charset="utf-8">
        <label>name: <span>{{user.NombreUsuario}} </span>
            <br>
            <span>price: </span>{{user.EdadUsuario}}
            <br>
          <input [(ngModel)]="user.NombreUsuario" name="name" placeholder="Name">
          <input [(ngModel)]="user.EdadUsuario" name="age" placeholder="age" type="number" min="0">
        </label>
        <button class="btn" (click)="createProduct(user.NombreUsuario,user.EdadUsuario)" type="submit">Create</button>
    </form>
</div>
