 <section id="page">
     <!--
    <header> <h1> Test Page </h1> </header>
   <!-- <nav>
        <!-- RouterLinkActive it's a class from Angular than let us highlight the button when
            it's selected, routerLinkActiveOptions it's used to ensure that only will happen on selected 
        <a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
        <a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" class="" routerLink="/crud">crud</a>
        <a [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" class="" routerLink="/panel">panel</a>
   </nav> -->

   <div *ngIf="!loged; else elseBlock">
       <app-login></app-login>
   </div>
   <ng-template #elseBlock>
        <app-main-nav></app-main-nav>
   </ng-template>
        <!-- This components returns the component specified in the app-routing module
    <main>
            in the variable const routes 
    <router-outlet></router-outlet>
   <app-panel></app-panel>
    </main>
        -->

     <!--
    <footer> <p> Footer</p></footer>
        -->
</section>
